<%= render 'books/info',user: User.find(params[:id]) %>

<%= render 'users/newbook', book: Book.new %>

<!----------------ユーザー投稿一覧--------------->

<% @books.each do |book| %>

  <%= link_to book_path(book.id) do %>
    <%= image_tag @user.get_profile_image(100, 100) %>
  <% end %>

  <p>title</p>
  <%= book.title %>
  <p>opinion</p>
  <%= book.body %>

  <% end %>
  </div>

