<main>
  <p id="notice"></p>
  <div class="container">
    <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this obj from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class= "row">
      <div class="col-md-3">
    <!-------------部分ﾃﾝﾌﾟﾚｰ/ﾕｰｻﾞｰ情報--------------------------->
    <%= render 'books/info', user: @user %>
     <!---------------部分ﾃﾝﾌﾟﾚｰﾄ/新規投稿---------------------------  -->
    <%= render 'books/newbook', book: @book_new %>
     <!------------------以下　投稿一覧-------------------------------->
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user) do %>
                  <%= image_tag  @book.user.get_profile_image(100,100) %>
                  <br>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td><%= link_to @book.title,book_path(@book) %></td>
              <td><%= @book.body %></td>
              <td>
                <% if @book.user == current_user %>
                <%= link_to "Edit",edit_book_path(@book),class: "btn btn-success" %>
                <% end %>
              </td>
              <td>
                <% if @book.user == current_user %>
                <%= link_to "Destroy",book_path(@book),class: "btn btn-danger" , method: :delete, "data-confirm" => "本当に削除しますか？"  %>
                <% end %>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>